HELP.md
target/
/data/
.jdk/
.m2/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/

### GIS & Large Document Ignores (To save context tokens for AI Agents) ###
*.doc
*.docx
*.pdf
*.tif
*.tfw
*.tfwx
*.bin
*.dat
*.index
*.ovr
*.xml
*.prj
*.dbf
*.sbn
*.sbx
*.shx
gis-data/
backend/data/
node_modules/
dist/
target/
